body {
	background-color: black;
	color: white;
	height: 5000px;
}

.app-container > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 90vw;
	text-align: center;
	border-bottom: 1px solid pink;
	padding: 20px;
}

.app-container > *:last-child {
	border-bottom: none;
}
